@{
    ViewData["Title"] = "Home Page";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Главная</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewData["NumberOfScansToday"]</h3>

                        <p>Новых Сканирований</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a asp-area="" asp-controller="Scans" asp-action="Index" class="small-box-footer">Больше информации <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            @* <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>53<sup style="font-size: 20px">%</sup></h3>

                        <p>Акций и Скидок</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="pages\NOVIGATION\GOODS.html" class="small-box-footer">Больше информации <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div> *@
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@ViewData["NumberOfEmployees"]</h3>

                        <p>Сотрудника</p>


                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a asp-area="" asp-controller="Employees" asp-action="Index" class="small-box-footer">Больше информации <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@ViewData["NumberOfLocations"]</h3>

                        <p>Филиалов</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a asp-area="" asp-controller="Locations" asp-action="Index" class="small-box-footer">Больше информации<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- /.card -->

                        <div class="card">
                            <div class="card-header border-0">
                                <h3 class="card-title">Текущие цены на товары</h3>
                                <div class="card-tools">
                                    <a href="pages\NOVIGATION\GOODS.html" class="btn btn-tool btn-sm">
                                        <i class="fas fa-download"></i>
                                    </a>
                                    <a href="pages\NOVIGATION\GOODS.html" class="btn btn-tool btn-sm">
                                        <i class="fas fa-bars"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                        <tr>
                                            <th>Название</th>
                                            <th>Цена</th>
                                            <th>Акционная цена</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Вино
                                            </td>
                                            <td>10000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-up"></i>
                                                    12%
                                                </small>
                                                12,000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Вино
                                            </td>
                                            <td>10000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-up"></i>
                                                    12%
                                                </small>
                                                12,000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Вино
                                            </td>
                                            <td>10000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-up"></i>
                                                    12%
                                                </small>
                                                12,000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Вино
                                            </td>
                                            <td>10000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-up"></i>
                                                    12%
                                                </small>
                                                12,000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Вино
                                            </td>
                                            <td>10000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-up"></i>
                                                    12%
                                                </small>
                                                12,000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                        <div class="card">
                            <div class="card-header border-0">
                                <h3 class="card-title">Цены на товары</h3>
                                <div class="card-tools">
                                    <a href="pages\NOVIGATION\GOODS.html" class="btn btn-tool btn-sm">
                                        <i class="fas fa-download"></i>
                                    </a>
                                    <a href="pages\NOVIGATION\GOODS.html" class="btn btn-tool btn-sm">
                                        <i class="fas fa-bars"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                        <tr>
                                            <th>Название</th>
                                            <th>Цена</th>
                                            <th>Акционная цена</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Коньяк
                                            </td>
                                            <td>20000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    15%
                                                </small>
                                                25000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Коньяк
                                            </td>
                                            <td>20000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    15%
                                                </small>
                                                25000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Коньяк
                                            </td>
                                            <td>20000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    15%
                                                </small>
                                                25000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Коньяк
                                            </td>
                                            <td>20000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    15%
                                                </small>
                                                25000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Коньяк
                                            </td>
                                            <td>20000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    15%
                                                </small>
                                                25000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Коньяк
                                            </td>
                                            <td>20000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    15%
                                                </small>
                                                25000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Коньяк
                                            </td>
                                            <td>20000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    15%
                                                </small>
                                                25000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Коньяк
                                            </td>
                                            <td>20000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    15%
                                                </small>
                                                25000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Коньяк
                                            </td>
                                            <td>20000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    15%
                                                </small>
                                                25000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Коньяк
                                            </td>
                                            <td>20000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    15%
                                                </small>
                                                25000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Коньяк
                                            </td>
                                            <td>20000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    15%
                                                </small>
                                                25000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Коньяк
                                            </td>
                                            <td>20000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    15%
                                                </small>
                                                25000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Коньяк
                                            </td>
                                            <td>20000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    15%
                                                </small>
                                                25000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                Коньяк
                                            </td>
                                            <td>20000</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    15%
                                                </small>
                                                25000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\GOODS.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col-md-6 -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="d-flex justify-content-between">
                                    <h3 class="card-title">Статистика акционных и обычных товаров за месяц</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex">
                                    <p class="d-flex flex-column">
                                        <span class="text-bold text-lg">163</span>
                                        <span>Общее количество сканированных товаров</span>
                                    </p>
                                    <p class="ml-auto d-flex flex-column text-right">
                                        <span class="text-success">
                                            <i class="fas fa-arrow-up"></i> 33.1%
                                        </span>
                                        <span class="text-muted">По сравнению с 2203</span>
                                    </p>
                                </div>
                                <!-- /.d-flex -->

                                <div class="position-relative mb-4">
                                    <canvas id="sales-chart" height="200"></canvas>
                                </div>

                                <div class="d-flex flex-row justify-content-end">
                                    <span class="mr-2">
                                        <i class="fas fa-square text-primary"></i> Акционные товары
                                    </span>

                                    <span>
                                        <i class="fas fa-square text-gray"></i> Обычные товары
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->

                        <div class="card">
                            <div class="card-header border-0">
                                <h3 class="card-title">Сканирований на сегодня</h3>
                                <div class="card-tools">
                                    <a href="pages\NOVIGATION\EMPLOYEE.html" class="btn btn-tool btn-sm">
                                        <i class="fas fa-bars"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                        <tr>
                                            <th>ID Сотрудник</th>
                                            <th>Сканированный Товар</th>
                                            <th>Цена на Товар</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="dist/img/avatar.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                ФИО
                                            </td>
                                            <td>Мамонт</td>
                                            <td>

                                                12,000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\EMPLOYEE.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/avatar2.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                ФИО
                                            </td>
                                            <td>Мамонт</td>
                                            <td>

                                                12,000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\EMPLOYEE.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/avatar3.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                ФИО
                                            </td>
                                            <td>Мамонт</td>
                                            <td>

                                                12,000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\EMPLOYEE.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/avatar4.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                ФИО
                                            </td>
                                            <td>Мамонт</td>
                                            <td>

                                                12,000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\EMPLOYEE.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/avatar.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                                                ФИО
                                            </td>
                                            <td>Мамонт</td>
                                            <td>

                                                12,000
                                            </td>
                                            <td>
                                                <a href="pages\NOVIGATION\EMPLOYEE.html" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>     <!-- /.d-flex -->
                        <!-- /.d-flex -->
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
</section>
<!-- /.container-fluid -->